parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrap: %currentWorkingDirectory%/../../lib/base.php
  excludes_analyse:
    - %currentWorkingDirectory%/appinfo/Migrations/*.php
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
    - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required.#'
